.navbar-brand{
    margin-top: -5px !important;
}

.main{
    min-height: calc(100vh - 175px) !important;
}
.spacer{
    margin: 70px 0;
}

.alert-info {
    margin-left: -40px !important;
}

.suggestion-alert{
    margin-left: 0px !important;
    width: 800px;
}

p{
    font-size: 17px !important;
}
h1 {
    font-size: 60px;
    font-weight: 600 !important;
    letter-spacing: -3px;
    margin-top: 40px !important;
}

ul{
    font-size: 17px;

}

.sub{
    font-size: 23px;
    margin-bottom: 40px !important;

    }

h2{
    letter-spacing: -1px;
    font-weight: 600 !important;
}

.nolinkdecoration{
    color:#333 !important;
}

.nolinkdecorationimage{
    text-decoration: none !important;

}

.align-right{
    text-align: right !important;
}

.form-control{
    width: auto; !important;
    margin-bottom: -20px !important;
}

.checkbox-inline{
    margin-top: -1px !important;
}

.backlink{
    margin-left: 15px;
}
/*weather forecast index page*/
.wlr__fcTemp{
    display: none !important;
}

#id7403ee3c06a84.wlr {
  width: 700px !important;
}

/* Activity table */
.indexactivities table{
    width: 800px !important;
    margin-bottom: -1px;
}
.activitytable th, td {
    padding: 15px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #00000075;
    border-collapse: collapse;
}

.activitytitle{
    font-weight: 599 !important;
    margin-top: 10px;
    font-size: 16px;
}

.activitytitle a{
    color: #333;
}

.activitylocation{
    color: #707070;
    flex: 1;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}

.activitymore{
    background-color: #0d6efd;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 7px;
}

.activitymore a{
    color: #FFF;
}


.activityrow{
    display: flex;
    justify-content: space-between;
}

.editlinks{
    font-size: 13px !important;
    color: #33333350;
    margin-top: 15px !important;
}

.editlinks a {
    color: #33333350;
}

.editlinks a:hover{
    color: #333333;
}

.activitybody{
    white-space: break-spaces;
}

.saveforlater{
    font-size: 13px !important;
    text-align: right;
}
/* Pagination */
.pager{
    width: 800px !important;
}

.previous{
    border-radius: 7px !important;
}

.next{
    border-radius: 7px !important;
}

/* Footer */

.footer{
    background-color: #333;
    padding: 15px 0 10px 0 !important;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin: 60px 0 0px !important;
    position: relative;
    bottom: 0;

}
/* FAQ */
#accordion{
    width: 800px;
}

.panel-heading{
    padding: 15px !important;
}
/* Activity page */

.activitypage{
    width: 800px;
}

.activitypagelocation{
    color: #707070;
    margin-right: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}

