{% extends "base.html" %}

{% block app_content %}
<div class="activitypage">
    <h1>{{ activitypage.title }}</h1>
    <p class="activitypagelocation">📍 {{ activitypage.location }}</p>
    {% if current_user.id == activitypage.user_id %}
        <p class="editlinks"><a href="{{ url_for('edit_activity', activityid=id) }}">Edit activity</a> | <a href="{{ url_for('delete_activity', activityid=id) }}">Delete activity</a></p>
    {% endif %}
    <hr>
    <p>{{ activitypage.body }}</p>
</div>
{% endblock %}