{% extends "base.html" %}

{% block app_content %}
    <h1>Oh no, it's raining!</h1>
    <p class="sub">Find stuff to do, in Dublin, when the weather is poor.</p>
    <div id="id7403ee3c06a84" a='{"t":"r","v":"1.2","lang":"en","locs":[2540],"ssot":"c","sics":"ds","cbkg":"#FFFFFF00","cfnt":"#000000","codd":"#FFFFFF00","cont":"#000000d4","etp":"bool","ewi":"bool","eln":"bool"}'>Weather Data Source: <a href="https://sharpweather.com/weather_dublin/">Dublin weather forecast</a></div><script async src="https://static1.sharpweather.com/widgetjs/?id=id7403ee3c06a84"></script>
    
    <div class="spacer"> </div>
    <h2>Looks like rain,... Now what?</h2>
    <p class="sub">Here are the latest suggestions posted by users.</p>
    <div class="indexactivities">
    {% for activity in activities %}
            {% include '_activity.html' %}
    {% endfor %}
    </div>
    <div class="spacer">  </div>
    <h2>FAQ</h2>
    <p class="sub">Answers to the most frequently asked questions.</p>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Whats is "Oh no, it's raining" all about?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            I recently went through this <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">awesome tutorial</a> that outlines the basic concepts of Flask and I got excited. So, in order to put my newly-learnt skills to practice, I built this. <br>It is nothing fancy, but a good exercise.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Is it free?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Yup, 100%. Forever.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Why Dublin? Any other cities?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            I had to start somewhere, so I chose Dublin. Depending on the traction, I might add other Irish cities.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              I have some questions...
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Sure, ping me on toie -at- duck -dot- com.
          </div>
        </div>
      </div>
      </div>
    </div>

{% endblock %}