{% extends "base.html" %}

{% block app_content %}
    <h1>Suggestions you have posted</h1>
    <p>Here are the activities you have posted.</p>
    <div class="spacer"> </div>
    <br>
    <div class="indexactivities">
    {% for activity in activities %}
        {% include '_activity.html' %}
    {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}