{% extends "base.html" %}

{% block app_content %}
    <h1>{{ user.username }}</h1>
    {% if user.about_me %}
    <p>{{ user.about_me }}</p>
    {% endif %}
    {% if user.last_seen %}
    <span class="label label-default">Last seen {{ moment(user.last_seen).fromNow() }}.</span>
    </p>{% endif %}
    
    {% if user == current_user %}
    <p class="editlinks"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}

    <div class="spacer"> </div>
    <h2><a href="{{ url_for('saved', username=current_user.username) }}">Suggestions you have saved for later</h2>
    <h2><a href="{{ url_for('posted', username=current_user.username) }}">Suggestions you have posted</h2>


{% endblock %}